.content {
  background-color: #92b4b9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}


.formRow {
  padding: 5px;
  margin: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  min-width: 320px;
}

.contentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formRow label {
  min-width: 90px;
  text-align: right;
}

.formRow input, .formRow select, .formRow button{
  width: 180px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}


